[submodule "vendor/t16fcs"]
	path = support/t16fcs
	url = git@github.com:mirage335/t16fcs.git
[submodule "_lib/ubiquitous_bash"]
	path = _lib/ubiquitous_bash
	url = git@github.com:mirage335/ubiquitous_bash.git
