
# WARNING: May be untested .

name: test


# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#permissions
permissions:
  actions: write
  checks: read
  contents: read
  deployments: read
  issues: none
  packages: read
  pull-requests: read
  repository-projects: read
  security-events: none
  statuses: read


on:
  push:
  workflow_dispatch:
  # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
  schedule:
    #- cron: '5 1 * * 6'
    #- cron: '5 1 * * 2,4'
    #- cron: '5 1 * * 2'
    #- cron: '5 1 * * 4'
    - cron: '5 1 * * 5'

# https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test_latest:
    runs-on: ubuntu-latest
    #runs-on: ubuntu-20.04
    #runs-on: ubuntu-18.04
    steps:
      - name: _getCore_ub
        shell: bash
        timeout-minutes: 90
        run: |
          mkdir -p ~/core/infrastructure
          cd ~/core/infrastructure
          git clone --depth 1 --recursive https://github.com/mirage335-colossus/ubiquitous_bash.git
          cd ubiquitous_bash
          ./_setupUbiquitous.bat
      - name: _getMinimal_cloud
        shell: bash
        run: |
          ~/core/infrastructure/ubiquitous_bash/ubiquitous_bash.sh _getMinimal_cloud
        timeout-minutes: 90
      #- name: write! secrets
        #shell: bash
        #run: |
          #~/core/infrastructure/ubiquitous_bash/ubiquitous_bash.sh _prepare_rclone_limited_file
        #env:
          #rclone_limited_conf_base64: ${{ secrets.rclone_limited_conf_base64 }}
        #timeout-minutes: 5
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
          submodules: 'recursive'
      - name: _getMinimal_cloud
        shell: bash
        run: |
          ./ubiquitous_bash.sh _getMinimal_cloud
        timeout-minutes: 90
      - name: type-rclone
        shell: bash
        run: |
          type rclone
        timeout-minutes: 90

      - name: report! cygwin links
        shell: bash
        timeout-minutes: 240
        run: |
          ./_bin _report_cygwin_links | tee /_report_cygwin_links-mitigate.log

      - name: test-lean
        shell: bash
        run: |
          #export devfast="true"
          ./_lib/ubiquitous_bash/lean.sh _test | sudo -n tee /_test-lean.log
      - name: test_https
        shell: bash
        run: |
          #export devfast="true"
          ./_lib/ubiquitous_bash/lean.sh _test_https | sudo -n tee /_test_https.log
        timeout-minutes: 90
      - name: _compile
        shell: bash
        timeout-minutes: 90
        run: |
          ./_lib/ubiquitous_bash/_bin.bat ./compile.sh | sudo -n tee /_compile.log
          ./_lib/ubiquitous_bash/_bin.bat ./compile.sh
          ./_lib/ubiquitous_bash/_bin.bat ./compile.sh
      - name: test-lean
        shell: bash
        run: |
          ./_lib/ubiquitous_bash/lean.sh _test | sudo -n tee /_test-lean-after_compile.log
        timeout-minutes: 90
      - name: test-extendedInterface
        shell: bash
        run: |
          ./extendedInterface.sh _test | sudo -n tee /_test-extendedInterface.log
        timeout-minutes: 90
      #- name: test-ubiquitous_bash
        #shell: bash
        #run: |
          #./ubiquitous_bash.sh _test | sudo -n tee /_test-ubiquitous_bash.log
        #timeout-minutes: 90
  # Other 'ubcp' tests must be essentially identical.
  # sleep 120
  # rclone --progress --config /rclone.conf copy distLLC_release_ro:ubcp/package_ubcp-core.7z ./
  # rclone --progress --config /rclone.conf copy distLLC_build_ubcp:package_ubcp-core.7z ./
  test_extendedInterface_ubcp_release_mswLatest:
    runs-on: windows-latest
    #runs-on: windows-2022
    #runs-on: windows-2019
    steps:
      #- name: write! secrets
        #id: secret-file1
        #run: |
          #$secretFile = "/rclone.conf"
          #$encodedBytes = [System.Convert]::FromBase64String($env:rclone_limited_conf_base64)
          #Set-Content $secretFile -Value $encodedBytes -AsByteStream
        #shell: pwsh
        #env:
          #rclone_limited_conf_base64: ${{ secrets.rclone_limited_conf_base64 }}
      - name: _getCore_ubcp-extendedInterface
        shell: pwsh
        timeout-minutes: 180
        run: |
          #mkdir /
          cd /
          #Invoke-WebRequest -Uri (((Invoke-RestMethod -Uri "https://api.github.com/repos/mirage335-colossus/extendedInterface/releases") | Where-Object { $_.name -eq "internal" } | ForEach-Object { $_.assets } | Where-Object {$_.name -eq "extIface.exe"} | Sort-Object -Property {$_.browser_download_url -replace '\D+(\d+)-\d+$', '$1'} -Descending | Select-Object -First 1).browser_download_url) -OutFile ./extIface.exe
          Invoke-WebRequest -Uri (((Invoke-RestMethod -Uri "https://api.github.com/repos/mirage335-colossus/extendedInterface/releases" -Headers @{Authorization = "Bearer ${{ secrets.GITHUB_TOKEN }}" }) | Where-Object { $_.name -eq "internal" } | ForEach-Object { $_.assets } | Where-Object {$_.name -eq "extIface.exe"} | Sort-Object -Property {$_.browser_download_url -replace '\D+(\d+)-\d+$', '$1'} -Descending | Select-Object -First 1).browser_download_url) -OutFile ./extIface.exe
          #start "Installer" /wait "extIface" /S
          Start-Process -FilePath ".\extIface.exe" -ArgumentList "/wait", ".\extIface.exe", "/S" -NoNewWindow -Wait
      - name: _getMinimal_cloud
        shell: pwsh
        timeout-minutes: 180
        run: |
          $ErrorActionPreference="SilentlyContinue"
          $ErrorActionPreference = "Continue"
          Set-MpPreference -DisableRealtimeMonitoring $true
          date > /wasHere.log
          pwd >> /wasHere.log
          cat /wasHere.log
          choco install qalculate -y
          choco install dos2unix -y
          choco install nmap -y
          git config --global core.autocrlf input
          git config --global core.eol lf
          choco install 7zip.install -y
          choco install rclone -y
      - uses: actions/checkout@v2
      - name: statement! ls
        shell: pwsh
        run: |
          ls /
          ls
          Get-CimInstance -ClassName Win32_LogicalDisk | Select-Object -Property DeviceID,@{'Name' = 'FreeSpace (GB)'
          Expression= { [int]($_.FreeSpace / 1GB) }}

      - name: report! cygwin links
        shell: pwsh
        timeout-minutes: 240
        run: |
          .\_bin _report_cygwin_links | tee /_report_cygwin_links-mitigate.log

      - name: _test
        shell: pwsh
        timeout-minutes: 240
        run: |
          #Set-Item -Path Env:devfast -Value ("true")
          cd C:\core\infrastructure\ubiquitous_bash\
          ./_test | tee /_test
          $SEL = cat /_test | Select-String -Pattern 'FAIL' -CaseSensitive -SimpleMatch
          if ($SEL -ne $null)
          {
          cat /bin/false/pwsh
          }
          else
          {
          echo true | Out-Null
          }
      - name: _test_https
        shell: pwsh
        timeout-minutes: 240
        run: |
          #Set-Item -Path Env:devfast -Value ("true")
          cd C:\core\infrastructure\ubiquitous_bash\
          ./_test_https | tee /_test_https
          $SEL = cat /_test_https | Select-String -Pattern 'FAIL' -CaseSensitive -SimpleMatch
          if ($SEL -ne $null)
          {
          cat /bin/false/pwsh
          }
          else
          {
          echo true | Out-Null
          }
  test_ubcp_dump_mswLatest:
    runs-on: windows-latest
    #runs-on: windows-2022
    #runs-on: windows-2019
    steps:
      #- name: write! secrets
        #id: secret-file1
        #run: |
          #$secretFile = "/rclone.conf"
          #$encodedBytes = [System.Convert]::FromBase64String($env:rclone_limited_conf_base64)
          #Set-Content $secretFile -Value $encodedBytes -AsByteStream
        #shell: pwsh
        #env:
          #rclone_limited_conf_base64: ${{ secrets.rclone_limited_conf_base64 }}
      - name: _getCore_ubcp-extendedInterface
        shell: pwsh
        timeout-minutes: 180
        run: |
          mkdir /core
          mkdir /core/infrastructure
          cd /core/infrastructure

          Invoke-WebRequest -Uri ((Invoke-RestMethod -Uri "https://api.github.com/repos/mirage335-colossus/extendedInterface/releases/latest" -Headers @{Authorization = "Bearer ${{ secrets.GITHUB_TOKEN }}" }).assets | Where-Object {$_.name -eq "extIface.exe"}).browser_download_url -OutFile ./extIface.exe

          #start "Installer" /wait "extIface" /S
          Start-Process -FilePath ".\extIface.exe" -ArgumentList "/wait", ".\extIface.exe", "/S" -NoNewWindow -Wait
      - name: _getMinimal_cloud
        shell: pwsh
        timeout-minutes: 180
        run: |
          $ErrorActionPreference="SilentlyContinue"
          $ErrorActionPreference = "Continue"
          Set-MpPreference -DisableRealtimeMonitoring $true
          date > /wasHere.log
          pwd >> /wasHere.log
          cat /wasHere.log
          choco install qalculate -y
          choco install dos2unix -y
          choco install nmap -y
          git config --global core.autocrlf input
          git config --global core.eol lf
          choco install 7zip.install -y
          choco install rclone -y
      - uses: actions/checkout@v2
      - name: statement! ls
        shell: pwsh
        run: |
          ls /
          ls
          Get-CimInstance -ClassName Win32_LogicalDisk | Select-Object -Property DeviceID,@{'Name' = 'FreeSpace (GB)'
          Expression= { [int]($_.FreeSpace / 1GB) }}

      - name: report! cygwin links
        shell: pwsh
        timeout-minutes: 240
        run: |
          .\_bin _report_cygwin_links | tee /_report_cygwin_links-mitigate.log

      - name: _test
        shell: pwsh
        timeout-minutes: 240
        run: |
          #Set-Item -Path Env:devfast -Value ("true")
          ./_test | tee /_test.log
          $SEL = cat /_test.log | Select-String -Pattern 'FAIL' -CaseSensitive -SimpleMatch
          if ($SEL -ne $null)
          {
          cat /bin/false/pwsh
          }
          else
          {
          echo true | Out-Null
          }
      - name: _test_https
        shell: pwsh
        timeout-minutes: 240
        run: |
          #Set-Item -Path Env:devfast -Value ("true")
          ./_test_https | tee /_test_https.log
          $SEL = cat /_test_https.log | Select-String -Pattern 'FAIL' -CaseSensitive -SimpleMatch
          if ($SEL -ne $null)
          {
          cat /bin/false/pwsh
          }
          else
          {
          echo true | Out-Null
          }
  test_ubcp_dump_mswLTS:
    #runs-on: windows-latest
    runs-on: windows-2022
    #runs-on: windows-2019
    steps:
      #- name: write! secrets
        #id: secret-file1
        #run: |
          #$secretFile = "/rclone.conf"
          #$encodedBytes = [System.Convert]::FromBase64String($env:rclone_limited_conf_base64)
          #Set-Content $secretFile -Value $encodedBytes -AsByteStream
        #shell: pwsh
        #env:
          #rclone_limited_conf_base64: ${{ secrets.rclone_limited_conf_base64 }}
      - name: _getCore_ubcp
        shell: pwsh
        timeout-minutes: 180
        run: |
          mkdir /core
          mkdir /core/infrastructure
          cd /core/infrastructure

          Invoke-WebRequest -Uri ((Invoke-RestMethod -Uri "https://api.github.com/repos/mirage335-colossus/extendedInterface/releases/latest" -Headers @{Authorization = "Bearer ${{ secrets.GITHUB_TOKEN }}" }).assets | Where-Object {$_.name -eq "extIface.exe"}).browser_download_url -OutFile ./extIface.exe

          #start "Installer" /wait "extIface" /S
          Start-Process -FilePath ".\extIface.exe" -ArgumentList "/wait", ".\extIface.exe", "/S" -NoNewWindow -Wait
      - name: _getMinimal_cloud
        shell: pwsh
        timeout-minutes: 180
        run: |
          $ErrorActionPreference="SilentlyContinue"
          $ErrorActionPreference = "Continue"
          Set-MpPreference -DisableRealtimeMonitoring $true
          date > /wasHere.log
          pwd >> /wasHere.log
          cat /wasHere.log
          choco install qalculate -y
          choco install dos2unix -y
          choco install nmap -y
          git config --global core.autocrlf input
          git config --global core.eol lf
          choco install 7zip.install -y
          choco install rclone -y
      - uses: actions/checkout@v2
      - name: statement! ls
        shell: pwsh
        run: |
          ls /
          ls
          Get-CimInstance -ClassName Win32_LogicalDisk | Select-Object -Property DeviceID,@{'Name' = 'FreeSpace (GB)'
          Expression= { [int]($_.FreeSpace / 1GB) }}

      - name: report! cygwin links
        shell: pwsh
        timeout-minutes: 240
        run: |
          .\_bin _report_cygwin_links | tee /_report_cygwin_links-mitigate.log

      - name: _test
        shell: pwsh
        timeout-minutes: 240
        run: |
          #Set-Item -Path Env:devfast -Value ("true")
          ./_test | tee /_test.log
          $SEL = cat /_test.log | Select-String -Pattern 'FAIL' -CaseSensitive -SimpleMatch
          if ($SEL -ne $null)
          {
          cat /bin/false/pwsh
          }
          else
          {
          echo true | Out-Null
          }
      - name: _test_https
        shell: pwsh
        timeout-minutes: 240
        run: |
          #Set-Item -Path Env:devfast -Value ("true")
          ./_test_https | tee /_test_https.log
          $SEL = cat /_test_https.log | Select-String -Pattern 'FAIL' -CaseSensitive -SimpleMatch
          if ($SEL -ne $null)
          {
          cat /bin/false/pwsh
          }
          else
          {
          echo true | Out-Null
          }



